<section id="portfolio" style="background-color: #ffffff">

    <div class="container inner">
        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>This are our public courses.</h1>
                    <p>If you want to enter a private module please talk to the appropriate teacher.</p>
                </header>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->

    <div class="container inner-bottom">
        <div class="row">
            <div class="col-sm-12 portfolio">

                <ul class="filter text-center">
                    <li><a href="" data-filter="*" class="active">All</a></li>
                    <li><a href="" data-filter=".identity">Tsune</a></li>
                </ul><!-- /.filter -->
            </div>
        </div>
            <div class="row">

                <div class="col-sm-6 col-lg-3 col-md-4" style="margin-bottom: 1em;" ng-repeat="course in courses">
                        <figure>

                            <div class="icon-overlay icn-link">
                                <a ng-href="{{course.href}}"><img ng-src="{{course.img}}" class="img-responsive" style="border-style:solid; border-width: 1px; border-color:black;  height:280px;" src="assets/images/art/work01.jpg" onerror="if (this.src != 'assets/images/art/work01.jpg') this.src = 'assets/images/art/work01.jpg';" alt=""></a>
                            </div><!-- /.icon-overlay -->

                            <figcaption class="bordered no-top-border skill">
                                <div class="info">
                                    <h4><a ng-href="{{course.href}}">{{course.title}}</a></h4>
                                    <p>{{course.description}}</p>
                                    <a ng-show="userdata.editCourses" href="#/courseeditor/{{course._id}}" class="btn btn-green">Edit Course</a>
                                    <a ng-show="userdata.deleteCourses" ng-click="deleteCourse(course._id, course._rev)" class="btn btn-red">Delete Course</a>
                                </div><!-- /.info -->
                            </figcaption>

                        </figure>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>