<footer class="dark-bg">
    <div class="container inner">
        <div class="row">

            <div class="col-md-3 col-sm-6 inner">
                <h4>Who we are</h4>
                <p>We are a small group of students working on this</p>
                <a href="#" class="txt-btn">More about us</a>
            </div><!-- /.col -->

            <div class="col-md-3 col-sm-6 inner">
                <h4>Latest courses</h4>

                <div class="row thumbs gap-xs">

                    <div class="col-xs-6 thumb">
                        <figure class="icon-overlay icn-link">
                            <a href="#"><img onerror="if (this.src != 'assets/images/art/work01.jpg') this.src = 'assets/images/art/work01.jpg';" onerror="if (this.src != 'assets/images/art/work01.jpg') this.src = 'assets/images/art/work01.jpg';" src="assets/images/art/work01.jpg" alt=""></a>
                        </figure>
                    </div><!-- /.thumb -->

                    <div class="col-xs-6 thumb">
                        <figure class="icon-overlay icn-link">
                            <a href="#"><img onerror="if (this.src != 'assets/images/art/work01.jpg') this.src = 'assets/images/art/work01.jpg';" src="assets/images/art/work01.jpg" alt=""></a>
                        </figure>
                    </div><!-- /.thumb -->

                    <div class="col-xs-6 thumb">
                        <figure class="icon-overlay icn-link">
                            <a href="#"><img onerror="if (this.src != 'assets/images/art/work01.jpg') this.src = 'assets/images/art/work01.jpg';" src="assets/images/art/work01.jpg" alt=""></a>
                        </figure>
                    </div><!-- /.thumb -->

                    <div class="col-xs-6 thumb">
                        <figure class="icon-overlay icn-link">
                            <a href="#"><img onerror="if (this.src != 'assets/images/art/work01.jpg') this.src = 'assets/images/art/work01.jpg';" src="assets/images/art/work01.jpg" alt=""></a>
                        </figure>
                    </div><!-- /.thumb -->

                </div><!-- /.row -->
            </div><!-- /.col -->


            <div class="col-md-3 col-sm-6 inner">
                <h4>Get In Touch</h4>
                <p>We are always open for plugin developers or schools around the world.</p>
                <ul class="contacts">
                    <li><i class="icon-location contact"></i> Some street at some point</li>
                    <li><i class="icon-mobile contact"></i>Some phonennumber</li>
                    <li><a href="#"><i class="icon-mail-1 contact"></i> mail@somewhere.com</a></li>
                </ul><!-- /.contacts -->
            </div><!-- /.col -->

            <div class="col-md-3 col-sm-6 inner">
                <h4>Free updates (at some point)</h4>
                <form id="newsletter" class="form-inline newsletter" role="form">
                    <label class="sr-only" for="exampleInputEmail">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail" placeholder="Enter your email address">
                    <button type="submit" class="btn btn-default btn-submit">Subscribe</button>
                </form>
            </div><!-- /.col -->

        </div><!-- /.row -->
    </div><!-- .container -->

    <div class="footer-bottom">
        <div class="container inner">
            <p class="pull-left">© 2014 HONE. All rights reserved.</p>
        </div><!-- .container -->
    </div><!-- .footer-bottom -->
</footer>