
    <section id="who-we-are">
        <div class="container inner-top inner-bottom-sm">

            <div class="row">
                <div class="col-md-8 col-sm-9 center-block text-center">
                    <header>
                        <h1>HONE your skills.</h1>
                        <p>HONE is an easily extendable learning plattform for the mobile age.</p>
                        <p>HONE is a high-quality solution for those who want to learn or teach using their own skills. It's fully responsive and will adapt itself to any mobile device. iPad, iPhone, Android, it doesn't matter.</p>
                    </header>
                </div><!-- /.col -->
            </div><!-- /.row -->

            <div class="row inner-top-sm">

                <div class="col-md-1">
                    <div class="icon pull-right">
                        <i class="icon-heart-empty-1 icn"></i>
                    </div><!-- /.icon -->
                </div><!-- /.col -->

                <div class="col-md-3 inner-bottom-xs">
                    <h2>Passion</h2>
                    <p class="text-small">We are passionate about learning. If you are also passionate about learning then contact us!</p>
                </div><!-- /.col -->

                <div class="col-md-1">
                    <div class="icon pull-right">
                        <i class="icon-lamp icn"></i>
                    </div><!-- /.icon -->
                </div><!-- /.col -->

                <div class="col-md-3 inner-bottom-xs">
                    <h2>Progress</h2>
                    <p class="text-small">If you want to get better at learning. Join us and join our courses.</p>
                </div><!-- /.col -->

                <div class="col-md-1">
                    <div class="icon pull-right">
                        <i class="icon-star-empty-1 icn"></i>
                    </div><!-- /.icon -->
                </div><!-- /.col -->

                <div class="col-md-3 inner-bottom-xs">
                    <h2>Popular</h2>
                    <p class="text-small">Here is some very very important message.</p>
                </div><!-- /.col -->

            </div><!-- /.row -->

        </div><!-- /.container -->
    </section>

    <!-- ============================================================= SECTION – WHO WE ARE : END ============================================================= -->


    <!-- ============================================================= SECTION – LATEST WORKS ============================================================= -->

    <section id="latest-works" class="light-bg">
        <div class="container inner">

            <div class="row">
                <div class="col-md-8 col-sm-9 center-block text-center">
                    <header>
                        <h1>Check out our courses</h1>
                        <p>All of them are of the topmost quality.</p>
                    </header>
                </div><!-- /.col -->
            </div><!-- /.row -->

            <div class="row">

                <div class="col-sm-6 inner-top-sm">
                    <figure>

                        <div class="icon-overlay icn-link">
                            <a href="#"><img src="http://www.allianceabroad.com/wp-content/uploads/Royal_Buckingham_English_Wordle.jpg" onerror="if (this.src != 'assets/images/art/work01.jpg') this.src = 'assets/images/art/work01.jpg';"></a>
                        </div><!-- /.icon-overlay -->

                        <figcaption class="bordered no-top-border">
                            <div class="info">
                                <h3><a href="#">English Master Course</a></h3>
                                <p>Identity</p>
                            </div><!-- /.info -->
                        </figcaption>

                    </figure>
                </div><!-- /.col -->

                <div class="col-sm-6 inner-top-sm">
                    <figure>

                        <div class="icon-overlay icn-link">
                            <a href="#"><img src="assets/images/art/work01.jpg" alt=""></a>
                        </div><!-- /.icon-overlay -->

                        <figcaption class="bordered no-top-border">
                            <div class="info">
                                <h3><a href="#">English Beginner Course</a></h3>
                                <p>Identity</p>
                            </div><!-- /.info -->
                        </figcaption>

                    </figure>
                </div><!-- /.col -->

            </div><!-- /.row -->

            <div class="row inner-top-sm">
                <div id="owl-latest-works" class="owl-carousel owl-item-gap">

                    <div class="item">
                        <a href="#">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Vintage Bicycles</h4>
                                        <p>Interactive</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="assets/images/art/work01.jpg" alt="">
                            </figure>
                        </a>
                    </div><!-- /.item -->

                    <div class="item">
                        <a href="#">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Simpli Nota</h4>
                                        <p>Identity</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="assets/images/art/work01.jpg" alt="">
                            </figure>
                        </a>
                    </div><!-- /.item -->

                    <div class="item">
                        <a href="#">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Vinyl Records</h4>
                                        <p>Identity</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="assets/images/art/work01.jpg" alt="">
                            </figure>
                        </a>
                    </div><!-- /.item -->

                    <div class="item">
                        <a href="#">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Astor & Yancy</h4>
                                        <p>Identity</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="assets/images/art/work01.jpg" alt="">
                            </figure>
                        </a>
                    </div><!-- /.item -->

                    <div class="item">
                        <a href="#">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Signwall</h4>
                                        <p>Identity</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="assets/images/art/work01.jpg" alt="">
                            </figure>
                        </a>
                    </div><!-- /.item -->

                    <div class="item">
                        <a href="#">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Tri Fold Brochure</h4>
                                        <p>Print</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="assets/images/art/work01.jpg" alt="">
                            </figure>
                        </a>
                    </div><!-- /.item -->

                    <div class="item">
                        <a href="#">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Embroidered</h4>
                                        <p>Identity</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="assets/images/art/work01.jpg" alt="">
                            </figure>
                        </a>
                    </div><!-- /.item -->

                    <div class="item">
                        <a href="#">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>El Corcho</h4>
                                        <p>Identity</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="assets/images/art/work01.jpg" alt="">
                            </figure>
                        </a>
                    </div><!-- /.item -->

                </div><!-- /.owl-carousel -->
            </div><!-- /.row -->

        </div><!-- /.container -->
    </section>

    <!-- ============================================================= SECTION – LATEST WORKS : END ============================================================= -->


    <!-- ============================================================= SECTION – GET IN TOUCH ============================================================= -->

    <section id="get-in-touch">
        <div class="container inner">
            <div class="row">
                <div class="col-md-8 col-sm-9 center-block text-center">
                    <header>
                        <h1>Want to work with us?</h1>
                        <p>Contact us! We are always open for suggestions.</p>
                    </header>
                    <a href="#" class="btn btn-large">Get in touch</a>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>

    <!-- ============================================================= SECTION – GET IN TOUCH : END ============================================================= -->
