<div class="container" style="margin-top:1em;">
<div class="row">
    <div class="col-md-offset-3 col-md-6 col-xs-12">
        <div class="well">
            <form id="loginForm" name="loginForm" ng-submit="login()"  novalidate>
                <div class="form-group">
                    <label for="username" class="control-label">Username</label>
                    <input type="text" class="form-control" ng-model="user.username" id="username"
                           title="Please enter you username" placeholder="Username" required>
                    <span class="help-block"></span>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Password</label>
                    <input type="password" class="form-control" ng-model="user.password" id="password" name="password"
                           title="username" required>
                    <span class="help-block"></span>
                </div>
                <div ng-show="loginError" class="alert alert-danger">Wrong username or password</div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="user.remember"> Remember login
                    </label>

                    <p class="help-block">(if this is a private computer)</p>
                </div>
                <button type="submit" ng-disabled="loginForm.$invalid || isBusy" class="btn btn-success btn-block">Login <busy-cog show="isBusy"/></i></button>
            </form>
        </div>
    </div>
</div>
</div>