
    <div class="navbar">
        <div class="navbar-header">
            <div class="container">


                <a class="navbar-brand" ng-href="#/"><img src="assets/images/logo.svg" class="logo" alt=""></a>


                <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i
                        class='icon-menu-1'></i></a>

            </div>
         </div>
        <div class="yamm">
            <div class="navbar-collapse collapse">
                <div class="container">


                    <a class="navbar-brand" ng-href="#/"><img src="assets/images/logo.svg" class="logo" alt=""></a>


                    <ul class="nav navbar-nav">



                        <li ng-hide="loggedIn.loggedIn" class=" yamm-fullwidth">
                            <a ng-href="#/course">Our Courses</a>
                        </li>
                        <li ng-show="loggedIn.loggedIn" class=" yamm-fullwidth">
                            <a ng-href="#/course">All Public Courses</a>
                        </li>
                        <li ng-show="loggedIn.loggedIn" class=" yamm-fullwidth">
                            <a ng-href="#/yourcourse">My Courses</a>
                        </li>
                        <li ng-show="userdata.createCourses" class="dropdown">
                            <a class="dropdown-toggle js-activated">Courses</a>
                            <ul class="dropdown-menu">
                                <li><a ng-href="#/course">Edit/Delete Courses</a></li>
                                <li><a ng-href="#/courseeditor">Add Course</a></li>
                            </ul><!-- /.dropdown-menu -->
                        </li>
                        <li ng-show="userdata.createPlugins" class="dropdown">
                           <a class="dropdown-toggle js-activated">Plugins</a>
                            <ul class="dropdown-menu">
                                <li><a ng-href="#/plugins">Edit/Delete Plugins</a></li>
                                <li><a ng-href="#/plugins/editor">Add Plugin</a></li>
                            </ul><!-- /.dropdown-menu -->

                        </li>
                        <li ng-show="userdata.createSkills" class="dropdown">
                            <a class="dropdown-toggle js-activated">Skills</a>
                            <ul class="dropdown-menu">
                                <li><a href="#/skills">Edit/Delete Skills</a></li>
                                <li><a ng-href="#/skills/editor">Add Skill</a></li>
                            </ul><!-- /.dropdown-menu -->
                        </li>




                    </ul>


                    <ul class="nav navbar-nav">



                        <li ng-hide="loggedIn.loggedIn" class="pull-right yamm-fullwidth">
                            <a ng-href="#/signup">Sign up</a>
                        </li>
                        <li ng-hide="loggedIn.loggedIn" class="pull-right yamm-fullwidth">
                            <a ng-href="#/login">Login</a>
                        </li>
                        <li  ng-show="loggedIn.loggedIn" class="pull-right yamm-fullwidth">
                            <a href="#/" ng-click="logout()">Logout</a>
                        </li>



                    </ul>

                </div>
                <!-- /.container -->
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.yamm -->
    </div>
    <!-- /.navbar -->