<div class="container" style="margin-top:1em;">
<div class="row">
    <div class="col-md-offset-3 col-md-6 col-xs-12">
        <div class="well">
            <p>
                If you log in here with your admin credentials, the CouchDB which is defined in PouchLoginService.js as host, will be
                prepared for serving as the central DB for all HONE related activities.
                The necessary databases and documents will be created.
            </p>
            <div class="alert alert-success" ng-show="success"><p>SUCCESS! Please Refresh your Browser to start!</p></div>
            <form id="loginForm" name="loginForm" ng-submit="login()"  novalidate>
                <div class="form-group">
                    <label for="username" class="control-label">Username</label>
                    <input type="text" class="form-control" ng-model="user.username" id="username"
                           title="Please enter you username" placeholder="Username" required>
                    <span class="help-block"></span>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Password</label>
                    <input type="password" class="form-control" ng-model="user.password" id="password" name="password"
                           title="username" required>
                    <span class="help-block"></span>
                </div>
                <div ng-show="loginError" class="alert alert-danger">Wrong username or password</div>
                <button type="submit" ng-disabled="loginForm.$invalid || isBusy" class="btn btn-success btn-block">Setup! <busy-cog show="isBusy"/></i></button>
            </form>
        </div>
    </div>
</div>
</div>