<div class="container" style="margin-top:1em;">
<div class="row">
    <div class="col-md-offset-3 col-md-6 col-xs-12">
        <div class="well">
            <form id="loginForm" name="loginForm" ng-submit="submit()"  novalidate>
                <div class="form-group">
                    <label for="username" class="control-label">Username</label>
                    <input type="text" class="form-control" ng-model="user.username" id="username"
                           title="Please enter you username" placeholder="Username" required>
                    <span class="help-block"></span>
                </div>
                <div class="form-group">
                    <label for="usertype" class="control-label">Learn Style</label>
                    <select id="usertype" class="form-control" ng-init="user.usertype = options[0]" ng-model="user.usertype" ng-options="option for option in options"></select>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Password</label>
                    <input type="password" class="form-control" ng-model="user.password" id="password" name="password"
                           title="username" required>
                    <span class="help-block"></span>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Repeat Password</label>
                    <input type="password" ng-model="user.passwordConfirm" class="form-control" id="reppassword" name="passwordMatch" match="user.password"
                           title="username">
                    <span class="help-block"></span>
                    <div ng-show="loginForm.passwordMatch.$error.match" class="alert alert-danger">Fields do not match!</div>
                </div>

                <div ng-show="loginError" class="alert alert-danger">Your username is already taken!</div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-init="user.remember = true" ng-model="user.remember"> Remember login
                    </label>

                    <p class="help-block">(if this is a private computer)</p>
                </div>
                <button ng-disabled="loginForm.$invalid" type="submit" class="btn btn-success btn-block">Sign Up<busy-cog show="isBusy"/></i></button>
            </form>
        </div>
    </div>
</div>
</div>