<section id="portfolio" style="background-color: #ffffff">

    <div class="container inner">
        <div class="row">
            <form class="form-horizontal well" name="courseForm">
                <div ng-show="error" class="alert alert-danger">Something went wrong
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div ng-show="success" class="alert-success alert">Created/Updated plugin {{id}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="form-group">
                    <label for="pluginname" class="col-sm-2 control-label">Plugin Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="pluginname" ng-model="plugin.name" placeholder="name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="plugindescription" class="col-sm-2 control-label">Plugin Description</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" ng-model="plugin.description" id="plugindescription" placeholder="description" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="pluginsingleSkill" class="col-sm-2 control-label">Does this plugin provide only a single skill (like a single game)?</label>
                    <div class="col-sm-10">
                        <input type="checkbox" class="form-control" ng-model="plugin.singleSkill" id="pluginsingleSkill" placeholder="description">
                    </div>
                </div>
                <div ng-hide="plugin.singleSkill">
                <div class="form-group">
                    <label for="editURL" class="col-sm-2 control-label">Edit URL (Will be called with skill-id at the end)</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="editURL" ng-model="plugin.editURL" placeholder="http://">
                    </div>
                </div>
                <div class="form-group">
                    <label for="createURL" class="col-sm-2 control-label">Create URL (Will be called to create a new skill)</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="createURL" ng-model="plugin.createURL" placeholder="http://">
                    </div>
                </div>
                </div>
                <div class="form-group">
                    <label for="skillURL" class="col-sm-2 control-label">Skill URL <span ng-hide="plugin.singleSkill">(Will be called with skill-id at the end.)</span></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="skillURL" ng-model="plugin.skillURL" placeholder="http://">
                    </div>
                </div>
                <div ng-show="plugin.singleSkill">
                    <div class="col-sm-12">
                        <p>If you mark this plugin as single skill, a skill document will be automatically created once you submit. The skill has the same name and description as the plugin.</p>
                    </div>
                </div>

                <hr>

                <button class="btn btn-green" ng-click="create()">Submit Plugin</button>
            </form>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>