<section id="portfolio" style="background-color: #ffffff">

    <div class="container inner">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>{{course.title}}</h1>
                <p>{{course.description}}</p>
            </div>
            <div class="col-sm-12 well text-center" ng-show="showFurtherReading">
                <h3>Further Reading</h3>
                <div marked="course.furtherReading">

                </div>
            </div>
            <div class="col-sm-12 text-center jumbotron" ng-show="showHighscore">
                <h1>High Score!</h1>
                <h2>Your Score: {{userScore||0}}</h2>
                <p>Try to beat them!</p>
                <table class="table table-bordered">
                    <tr ng-repeat="score in scores | orderBy:'-score' | limitTo:10">
                        <td>
                            <b>{{$index+1}}.</b>
                        </td>
                        <td>
                            <span class="label label-success">{{score.name}}</span>
                        </td>
                        <td>
                            <span class="label label-info">{{score.score}}</span>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-sm-12 text-center" ng-hide="enrolled || !userdata.loggedIn">
                <a class="btn btn-blue btn-large" ng-click="enroll()">Enroll!</a>
            </div>
            <div class="col-sm-12 text-center" ng-show="newlyEnrolled">
                <a class="btn btn-green btn-large" ng-href="{{course.href}}">Enrolled!</a>
            </div>

        </div>
    </div>

    <div class="container inner-bottom">
        <div class="row">
            <span ng-show="userdata.isCollaborative()">
                <div class="col-sm-4 text-center">
                    <p><a href="#" class="btn btn-blue"><i class="icon-twitter icn"></i>Tweet about this course!</a></p>
                </div>
                <div class="col-sm-4 text-center">
                    <p><a href="#" class="btn btn-danger"><i class="icon-tumblr-circled icn"></i>Join the discussion on tumblr!</a></p>
                </div>
                <div class="col-sm-4 text-center">
                    <p><a href="#" class="btn btn-gray"><i class="icon-doc icn"></i>Talk on our forums!</a></p>
                </div>
            </span>

            <div class="col-sm-12 text-center">
                <h1>Skill List</h1>
            </div>
            <div class="col-sm-12 portfolio">

                <ul class="filter text-center">
                    <li><a href="#" data-filter="*" class="active">All</a></li>
                    <li><a href="#" data-filter=".identity">Tsune</a></li>
                </ul><!-- /.filter -->

                <div class="row">

                    <div class="col-sm-6 col-lg-3 col-md-4" style="margin-top:1em;" ng-repeat="curSkill in course.skills" ng-if="checkIfShow(curSkill)">
                        <figure>

                            <div class="icon-overlay icn-link" ng-show="enrolled">
                                <a href="{{curSkill.href}}" target="_blank"><img ng-src="{{curSkill.img}}" class="img-responsive" style="border-style:solid; border-width: 1px; border-color:black;  height:280px;" onerror="if (this.src != 'assets/images/art/work01.jpg') this.src = 'assets/images/art/work01.jpg';" src="assets/images/art/work01.jpg" alt=""></a>
                            </div><!-- /.icon-overlay -->
                            <div class="icon-overlay" ng-hide="enrolled">
                                <img ng-src="{{curSkill.img}}" class="img-responsive" style="border-style:solid; border-width: 1px; border-color:black;  height:280px;" onerror="if (this.src != 'assets/images/art/work01.jpg') this.src = 'assets/images/art/work01.jpg';" src="assets/images/art/work01.jpg" alt="">
                            </div>


                            <figcaption class="bordered no-top-border skill">
                                <div class="locked text-center" ng-hide="checkIfOpen(curSkill)">
                                    <span class="icon-lock icn" style="font-size: 5em; position:relative; top:50%; margin-top: -5em;" aria-hidden="true"></span>
                                </div>
                                <div ng-show="checkIfDone(curSkill)" class="done text-center">
                                    <span class="icon-check icn" style="font-size: 5em; position:relative; top:50%; margin-top: -5em;" aria-hidden="true"></span>
                                </div>
                                <div class="info">

                                    <h4><a ng-show="enrolled" href="{{curSkill.href}}" target="_blank">{{curSkill.title}}</a><span ng-hide="enrolled">{{curSkill.title}}</span></h4>
                                    <p>{{curSkill.description}}</p>
                                    <p>{{curSkill._id}}</p>
                                    <a ng-disabled="busy" ng-show="userdata.editSkills" href="{{curSkill.edithref}}" class="btn btn-blue">Edit Skill</a>
                                </div><!-- /.info -->
                            </figcaption>

                        </figure>

                    </div><!-- /.items -->

            </div><!-- /.col -->
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="container">
        <div class="row">
            <div class="col-sm-3 text-center">
                <a class="btn btn-red btn-large" ng-click="disenroll()" ng-show="enrolled">Disenroll</a>
                <a class="btn btn-red btn-large" ng-show="newlyDisenrolled">Disenrolled!</a>
            </div>
            <div class="col-sm-3 text-center">
                <a class="btn btn-green btn-large" ng-click="toggleHighScore()">Highscore</a>
            </div>
            <div class="col-sm-3 text-center">
                <a class="btn btn-gray btn-large" ng-click="toggleFurtherReading()">Further Reading</a>
            </div>

                <span>
                    <div class="col-sm-1 text-center">
                        <p><a href="#" class="btn btn-blue"><i class="icon-twitter icn"></i></a></p>
                    </div>
                    <div class="col-sm-1 text-center">
                        <p><a href="#" class="btn btn-danger"><i class="icon-tumblr-circled icn"></i></a></p>
                    </div>
                    <div class="col-sm-1 text-center">
                        <p><a href="#" class="btn btn-gray"><i class="icon-doc icn"></i></a></p>
                    </div>
            </span>
        </div>
    </div>
</section>