<section id="portfolio" style="background-color: #ffffff">



    <div class="container inner">
        <div class="row">
            <form class="form-horizontal well" name="courseForm">
                <div ng-show="error" class="alert alert-danger">Something went wrong
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div ng-show="success" class="alert-success alert">Created/Updated course {{id}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="form-group">
                    <label for="decktitle" class="col-sm-2 control-label">Course Title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="decktitle" ng-model="course.title" placeholder="title" required>
                    </div>
                </div>
                <div class="form-group">
                <label for="deckdesc" class="col-sm-2 control-label">Course Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" ng-model="course.description" id="deckdesc" placeholder="description" required></textarea>
                </div>
            </div>
                <div class="form-group">
                    <label for="furtherReading" class="col-sm-2 control-label">Further Reading (Markdown)</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" ng-model="course.furtherReading" id="furtherReading" placeholder="description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="courseimg" class="col-sm-2 control-label">Course Image</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="course.img" id="courseimg" placeholder="http://" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="visibility" class="col-sm-2 control-label">Course Visibility</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="visibility" ng-model="visibility" required>
                            <option>Public (Anyone can join)</option>
                            <option>Private (An admin has to add students)</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="col-sm-12 text-center">
                    <h1>Skill</h1>
                    <p>You can search for already existing skills and add requirements they will have in this course.</p>
                </div>
                <div class="form-group">
                    <label for="skillsearch" class="col-sm-2 control-label">Skill Search</label>
                    <div class="col-sm-10">
                        <autocomplete class="form-control-static" ng-model="currentSkill" data="skills.skillStrings" id="skillsearch"></autocomplete>
                    </div>
                </div>
                <div class="col-sm-12 text-center">
                <button class="btn btn-green" ng-click="addRequirement()">Add Requirement To Skill</button>

                </div>
                <div class="form-group" ng-repeat="req in currentReqs">
                    <div class="col-sm-2">Requirement
                        </div>
                    <div class="col-sm-10">
                        <autocomplete class="form-control-static" ng-model="req.idstring" data="skills.skillStrings"></autocomplete>
                    </div>
                </div>


                <button class="btn btn-green" ng-click="add()">Add Skill To Course</button>
                <button ng-disabled="busy" class="btn btn-blue pull-right" ng-disabled="courseForm.$invalid" ng-click="create()">Submit Course</button>
            </form>
        </div><!-- /.row -->
    </div><!-- /.container -->



    <div class="container inner-bottom">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Skill List</h1>
            </div>
            <div class="col-sm-12 portfolio">

                <ul class="filter text-center">
                    <li><a href="#" data-filter="*" class="active">All</a></li>
                    <li><a href="#" data-filter=".identity">Tsune</a></li>
                </ul><!-- /.filter -->
            </div>
        </div>
                <div class="row">

                    <div class="col-sm-6 col-lg-3 col-md-4" style="margin-bottom: 1em;" ng-repeat="curSkill in course.skills">
                        <figure>

                            <div class="icon-overlay icn-link">
                                <img ng-src="{{curSkill.skill.img}}" class="img-responsive" style="border-style:solid; border-width: 1px; border-color:black;  height:280px;" onerror="if (this.src != 'assets/images/art/work01.jpg') this.src = 'assets/images/art/work01.jpg';" src="assets/images/art/work01.jpg" alt="">
                            </div><!-- /.icon-overlay -->

                            <figcaption class="bordered no-top-border skill">
                                <div class="info">
                                    <h4>{{curSkill.skill.title}}</h4>
                                    <p><b>{{curSkill.skill.responsible}}</b></p>
                                    <p>{{curSkill.skill.description}}</p>
                                    <p>{{curSkill.skill._id}}</p>

                                    <p><b>Requirements</b></p>
                                    <ul style="height: 4em;">

                                        <li ng-repeat="curReq in curSkill.requirements">
                                                 {{curReq._id}}
                                        </li>
                                    </ul>
                                    <a ng-click="course.skills.splice($index,1)" class="btn btn-red">Remove</a>
                                </div><!-- /.info -->
                            </figcaption>

                        </figure>

                    </div><!-- /.col -->
                </div><!-- /.row -->
    </div><!-- /.container -->
</section>