<section id="portfolio" style="background-color: #ffffff">

    <div class="container inner">
        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>This are all skills.</h1>
                    <p>You can delete or edit them here.</p>
                </header>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->

    <div class="container inner-bottom">
        <div class="row">
            <div class="col-sm-6 col-lg-3 col-md-4" ng-repeat="curSkill in skills">
                <figure>

                    <div class="icon-overlay icn-link" ng-show="enrolled">
                        <a href="{{curSkill.href}}" target="_blank"><img onerror="if (this.src != 'assets/images/art/work01.jpg') this.src = 'assets/images/art/work01.jpg';" src="assets/images/art/work01.jpg" alt=""></a>
                    </div><!-- /.icon-overlay -->
                    <div class="icon-overlay" ng-hide="enrolled">
                        <img onerror="if (this.src != 'assets/images/art/work01.jpg') this.src = 'assets/images/art/work01.jpg';" src="assets/images/art/work01.jpg" alt="">
                    </div>


                    <figcaption class="bordered no-top-border skill">
                        <div class="info">

                            <h4><span ng-hide="enrolled">{{curSkill.title}}</span></h4>
                            <p>{{curSkill.description}}</p>
                            <p>{{curSkill._id}}</p>
                            <a ng-disabled="busy" ng-show="userdata.editSkills" href="{{curSkill.edithref}}" class="btn btn-blue">Edit Skill</a>
                            <a ng-disabled="busy" ng-show="userdata.deleteSkills" ng-click="deleteSkill(curSkill._id,curSkill._rev)" class="btn btn-red">Delete Skill</a>
                        </div><!-- /.info -->
                    </figcaption>

                </figure>
            </div><!-- /.items -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>