<section id="portfolio" style="background-color: #ffffff">

    <div class="container inner">
        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>You can create a new skill here.</h1>
                    <p>Just click on the plugin below.</p>
                </header>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->

    <div class="container inner-bottom">
        <div class="row">
            <div class="col-sm-12 portfolio">

                <ul class="items col-3" >

                    <li class="item thumb interactive" ng-repeat="plugin in plugins">
                        <a target="_blank" href="{{plugin.createURL}}">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>{{plugin.name}}</h4>
                                        <p>{{plugin.description}}</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img onerror="if (this.src != 'assets/images/art/work01.jpg') this.src = 'assets/images/art/work01.jpg';" src="assets/images/tsune.png" alt="">
                            </figure>
                        </a>
                    </li><!-- /.item -->
                    </ul>

            </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>