@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url(Lato_300_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Lato_300_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Lato_300_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/lato/v11/KT3KS9Aol4WfR6Vas8kNcg.woff */
        url(Lato_300_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/lato/v11/0DeoTBMnW4sOpD0Zb8OQSALUuEpTyoUstqEm5AMlJo4.ttf */
        url(Lato_300_normal.svg#Lato_300_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(Lato_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Lato_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Lato_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/lato/v11/9k-RPmcnxYEPm8CNFsH2gg.woff */
        url(Lato_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/lato/v11/1EqTbJWOZQBfhZ0e3RL9uvesZW2xOQ-xsNqO47m55DA.ttf */
        url(Lato_400_normal.svg#Lato_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=hLECvlEj3pKlnS4NFs8NQw#Lato */
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url(Lato_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Lato_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Lato_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/lato/v11/wkfQbvfT_02e2IWO3yYueQ.woff */
        url(Lato_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/lato/v11/MZ1aViPqjfvZwVD_tzjjkwLUuEpTyoUstqEm5AMlJo4.ttf */
        url(Lato_700_normal.svg#Lato_700_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url(Lato_900_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Lato_900_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Lato_900_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/lato/v11/BVtM30trf7q_jfqYeHfjtA.woff */
        url(Lato_900_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/lato/v11/jZjuDZSb58pQtWhOr6q-6ALUuEpTyoUstqEm5AMlJo4.ttf */
        url(Lato_900_normal.svg#Lato_900_normal) format('svg'); /* {{svg-gf-url}} */
}
