.skill .locked{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.skill .done{
    background-color: rgba(0,200,0,0.5);
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.skill h4 {
    height: 3em;

}

.skill p {
    height: 2em;
}